body{
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
}
.navigation-bar{
    background-color: azure;
    color: black;
    padding: 10px;
}

header{
    background-color: rgb(106, 91, 121);
    color: black;
    text-decoration: underline;
}
nav{
    padding: 25px;
}

nav ul li{
    margin: 5px;
    display: inline-block;
}

h2{
    text-align: center;
    
}

.hero{
    line-height: 1.4;
    font-size: medium;
}
p{
    font-size: medium;
    line-height: 1.3;
    margin-bottom: 10px;
}

.slant{
    font-style: italic;
    font-weight: bolder;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.pic-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80px;
}

form-section{
    padding: 20px;
    background-color: aquamarine;
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 500px;
    margin: 40px auto;
    border: 2px solid rgb(133, 32, 32);
    padding: 20px;
}

input,
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

textarea{
    height: 120px;
    resize: vertical;
}

input:focus,
textarea:focus{
    outline: none;
    border: 2px solid black;
}

.details{
    text-align: center;
}

.pic-card :hover{
    cursor: pointer;
    transform: scale(1.5);
}
